@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flexp {
  display: flex;
}

/* dark 02 */
.text-gray {
  color: #424242;
}

/* dark 03 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */

/* navbar related styles */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;

  margin-right: 30px;

}

.nav-link {
  text-decoration: none;
  font-weight: 500;

}

.banner,
.navbar {
  max-width: 1400px;
  margin: 0 auto;

}

/* banner related styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;


}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
  color: #131313;
}

.banner-description {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}


.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  margin-top: 32px;
  margin-bottom: 50px;

}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main>section {
  margin-top: 130px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;


}

.banner-image {
  width: 100%;
  margin-bottom: 45px;
}

.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;

}


#quick-list {
  font-weight: 500;
  color: #727272;
}

#feature-section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 #e3dede8d;
  margin-bottom: 20px;
  border-radius: 8px;
}


.feature-card.feature-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-top: 0px;

}

#experience-badge {
  padding: 45px 45px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -150px;
}

#experience-year {
  font-size: 4rem;
  font-weight: 700;
}

.featured-architect img {
  width: 100%;
}




.features {
  gap: 140px;
}






.feature-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

}

.fact-card {
  border: 1px solid #FF900E;
  height: 240px;
  width: 240px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;


}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #424242;


}

.fact-name {
  font-size: 1, 25rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #727272;
}

.fact-description {
  width: 542;
  height: 52;
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
  margin-bottom: 100px;
  margin-top: 24px;
}

.sponsor-info {
  max-width: 540px;
  margin: 50px auto;

}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.sponsor-companies img {
  filter: grayscale(100%)
}


footer {
  background-color: #FFF4E7;
  width: 1440px;
  height: 100px;
  border-radius: 10px;






}

footer p {
  padding: 39px 110px 39px 110px;

  font-size: 1.25rem;
  font-weight: 400;



}


/* responsive media query */
@media screen and (max-width:576px) {

  .navbar,
  .nav-links,
  .teams,
  .features {
    flex-direction: column;
  }







  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }

  .facts-container,
  .sponsor-companies {
    justify-items: center;
    gap: 24px;

  }

  .our-features {
    margin-left: 20px;
  }

  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width:576px) and (max-width:992px) {

  .teams,
  .features {
    flex-direction: column;
  }

  .our-features {
    margin-left: 50px auto;
  }

  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    gap: 50px;
  }

  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}
